/* Banner.module.css */
.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-image: url('/studio-movil.jpg');
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.2;
}

.content {
  position: relative;
  z-index: 10;
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  max-width: 20rem;
}

@media (min-width: 768px) {
  .banner {
    height: 100vh;
  }

  .backgroundImage {
    background-image: url('/mart.jpg');
  }

  .overlay {
    background: linear-gradient(
      to right,
      white,
      transparent,
      rgba(0, 0, 0, 0.5)
    );
    opacity: 1;
  }

  .content {
    margin-left: 13rem;
    max-width: 24rem;
  }
}

@media (min-width: 1024px) {
  .banner {
    height: 800px;
  }
}

@media (min-width: 1280px) {
  .content {
    margin-left: 18rem;
  }
}
