@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkPrimary: #944279;
  --lightPrimary: #c272ae;
  --primary: #ad5592;
  --white: #ffffff;
  --accent: #8bc34a;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --black: #000000;
  --grey: #f9f8f8;
  --bg: #f6f6f6;
  --green-1: #65c482;
  --green-2: #2d9d20;
  --grey-2: #fbfdff;
  --grey-3: #656f7e;
  --red: #ff4a4a;
  --grey-4: #b8b4b4;
  --facebook: #3b5998;
  --google: #4285f4;
  --title-32bold: 700 2rem/2.25rem Roboto;
  --title-45bold: 700 2.8125rem / normal Roboto;
  --subtitle-22medium: 500 1.375rem/1.625rem Roboto;
  --subtitle-22bold: 700 1.375rem/1.625rem Roboto;
  --body-16regular: 400 1rem/1.25rem Roboto;
  --body-16bold: 700 1rem/1.25rem Roboto;
  --body-14regular: 400 0.875rem/1.125rem Roboto;
  --body-14regular_u: 500 0.875rem/1.25rem Roboto;
  --caption-12bold: 700 0.75rem/1rem Roboto;
  --caption-12regular: 400 0.75rem/1rem Roboto;
  --caption-12regular_u: 400 0.75rem/1.25rem Roboto;
}

body {
  font: var(--body-14regular);
  background-color: var(--bg);
}

.main-wrapper {
  max-width: 1366px;
  /* border: 1px solid red; */
  margin: auto;
}

/* stepper offer */
@layer components {
  .slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-6 h-6 rounded-full bg-green-500 cursor-pointer;
  }

  .slider-thumb::-moz-range-thumb {
    @apply appearance-none w-6 h-6 rounded-full bg-green-500 cursor-pointer;
  }

  .slider-track {
    @apply appearance-none w-full h-2 rounded-lg cursor-pointer;
    background: linear-gradient(
      to right,
      #f8bbd0 var(--track-fill),
      #e5e7eb var(--track-fill)
    );
  }
}

/* Quita las flechas para Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quita las flechas para Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.custom-pagination-bullet {
  width: 20px !important;
  height: 4px !important;
  border-radius: 0 !important;
  background: rgba(255, 255, 255, 0.3) !important;
  transition: all 0.3s ease;
}

.custom-pagination-bullet-active {
  background: #c2185b !important;
  width: 30px !important;
}

.swiper-pagination {
  bottom: 20px !important;
}
