@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkPrimary: #c2185b;
  --lightPrimary: #f8bbd0;
  --primary: #e91e63;
  --white: #ffffff;
  --accent: #8bc34a;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --black: #000000;
  --grey: #f9f8f8;
  --bg: #f6f6f6;
  --green-1: #65c482;
  --green-2: #2d9d20;
  --grey-2: #fbfdff;
  --grey-3: #656f7e;
  --red: #ff4a4a;
  --grey-4: #b8b4b4;
  --facebook: #3b5998;
  --google: #4285f4;
  --title-32bold: 700 2rem/2.25rem Roboto;
  --title-45bold: 700 2.8125rem / normal Roboto;
  --subtitle-22medium: 500 1.375rem/1.625rem Roboto;
  --subtitle-22bold: 700 1.375rem/1.625rem Roboto;
  --body-16regular: 400 1rem/1.25rem Roboto;
  --body-16bold: 700 1rem/1.25rem Roboto;
  --body-14regular: 400 0.875rem/1.125rem Roboto;
  --body-14regular_u: 500 0.875rem/1.25rem Roboto;
  --caption-12bold: 700 0.75rem/1rem Roboto;
  --caption-12regular: 400 0.75rem/1rem Roboto;
  --caption-12regular_u: 400 0.75rem/1.25rem Roboto;
}

body {
  font: var(--body-14regular);
  background-color: var(--bg);
}

.main-wrapper {
  max-width: 1366px;
  /* border: 1px solid red; */
  margin: auto;
}
/* input:focus {
  border-bottom: red !important;
  outline: none;
} */

/* Estilos personalizados para el acordeón */
.accordion input[type='checkbox'] {
  display: none;
}
.accordion label {
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Alineación para el ícono en el lado izquierdo */
  align-items: center; /* Alineación verticalmente centrada */
  padding: 0.5rem 1rem;
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
}
.accordion label:hover {
  background-color: #e5e7eb;
}
.accordion input[type='checkbox'] + label {
  padding-left: 2rem; /* Espacio para el texto */
}
.accordion input[type='checkbox'] + label::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg>');
  width: 1rem;
  height: 1rem;
  /* margin-right: 0.5rem; */
  transition: transform 0.2s;
}
.accordion input[type='checkbox'] + label + div {
  display: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e5e7eb;
}
.accordion input[type='checkbox']:checked + label::after {
  /* transform: translateY(-50%) rotate(90deg);
   */
  transform: rotate(90deg);
}

.accordion input[type='checkbox']:checked + label + div {
  display: block;
}
